@import "../../../../assets/css/constants.scss";

.order-confirmation-wrapper{
    .breadcrumb{
        background:$border-color;
        li{
            margin: 0 auto;
            a{
                color:$black
            }
        }
    }
.order-confirm-header{
    background: $border-color;
    padding: 20px 0;
    h1{
        font-size: 1.85rem;
    }
    h3{
        font-size: 1.135rem;
    }
}
.order-confirm-body{
    padding: 50px 0;
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.135rem;
    }
}
}