<section class="order-confirmation-wrapper container clearfix">
    <div class="order-body-wr text-center no-padding">
        <div class="col-12 order-confirm-header">
            <h1 class="mb-30">Order Confirmation</h1>
            <h3>
                Confirmation of Order: {{orderId}}
            </h3>
        </div>
        <article class="col-12 order-confirm-body">
            <h2 class="pb-30">
                Thank you for your order!
            </h2>
            <p>
                An invoice has been sent by email. You should receive it soon.
            </p>
        </article>
    
    </div>
</section>
