<section class="header-container" *ngIf ="(userType === 'Admin') || (userType === 'HRAdmin')">
    <section class="header-left">
        <span class="hr-image">
            <img class="img-fluid" [src]="hrImage" alt="logo">
        </span>
        <span class="cust-name">Hr</span>
        <span><i class="right"></i></span>
        <span class="admin-name">Master Data Setup</span>
    </section>
    <section class="header-right">
        <span class="hr-dp">
            <img class="img-fluid" [src]="dpImage" alt="logo">
        </span>
        <span class="account-settings">
            <i class="down"></i>
            <div class="account-logout">
                <span>Account</span>
                <span><a (click)="onLogout($event)">Logout</a></span>
            </div>
        </span>
    </section>
</section>
<section class="header-container" *ngIf ="(userType === 'VerificationUser') || (userType === 'FinanceManager')">
    <section class="header-left">
        <h3 *ngIf="userType === 'VerificationUser'" class="text-center admin-name">Verification Admin Portal</h3>
        <h3 *ngIf="userType === 'FinanceManager'" class="text-center admin-name">Finance Manager Portal</h3>
    </section>
    <section class="header-right">
        <span class="hr-dp">
            <img class="img-fluid" [src]="dpImage" alt="logo">
        </span>
        <span class="account-settings">
            <i class="down"></i>
            <div class="account-logout">
                <span>Account</span>
                <span><a (click)="onLogout($event)">Logout</a></span>
            </div>
        </span>
    </section>
</section>