:host {
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .hr-image img {
        width: 30px;
        height: 30px;
        background: grey;
    }
    .hr-dp img {
        width: 40px;
        height: 40px;
    }
    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom: 1px;
      }
      
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      .cust-name {
        padding-left: 10px;
        color: grey;
        padding-right: 15px;
        font-size: 15px;
      }
      .admin-name {
        padding: 20px;
      }
      .header-right span{
          padding: 0 20px;
      }
      .account-settings {
        position: relative;
        .account-logout {
          display: none;
          position: absolute;
          flex-direction: column;
          right: -10px;
          background: white;
          top: 19px;
          span {
            padding: 15px;
            cursor: pointer;
          }
        }
        &:hover {
          .account-logout {
            display: flex;
          }
        }
      }
}

@media only screen and (max-width: 768px) {
    .admin-header {
        width: 100% !important;
    }
}
