.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 0;
    background-color: var(--cx-color-background);
    h4 {
        font-size: 30px;
    }
    a {
        color: #d0d0d0;
        padding: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}