<section class="checkout-container">
    <app-page-header-molecule>Checkout</app-page-header-molecule>
    <!-- <cx-checkout-breadcrumb-molecule></cx-checkout-breadcrumb-molecule> -->
    <section class="checkout-block">
        <div class="checkout-left">
            <!-- <router-outlet></router-outlet> -->
            <app-payment-molecule></app-payment-molecule>
            <!-- <button mat-raised-button class="back-btn" (click)="onChangePage(previousPage)" >Back</button>
            <button (click)="onChangePage(nextPage)" mat-raised-button class="continue-btn">Continue</button> -->
        </div>
        <div class="checkout-right" *ngIf="cartData !== undefined && cartData.entries !== undefined">
            <app-order-summary-molecule [totalPrice]="cartData?.totalPrice" [totalTax]="cartData?.totalPriceWithTax" [isCart]="false"></app-order-summary-molecule>
        </div>
    </section>
</section>

