
.checkout-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
.checkout-block {
    display: flex;
    padding: 0 10%;
     .continue-btn {
    background-color: var(--cx-color-primary) !important;
    border-color: var(--cx-color-primary) !important;
    color: white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }
 
  .back-btn {
    background-color: rgba(0,0,0,.12);
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }
    .checkout-left {
        flex: 0 0 70%;
    }
    .checkout-right {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .checkout-block {
        display: flex;
        flex-direction: column;
        padding: 0;
        .checkout-left {
            flex: 1;
            background-color: #f4f4f4;
            padding-bottom: 30px;
            margin: 20px;
            display: block;
        }
        .checkout-right {
            flex: 1;
            padding: 0 30px;
            width: 100%;
        }
    }
}
.continue-btn {
    background-color: var(--cx-color-primary) !important;
    border-color: var(--cx-color-primary) !important;
    color: white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }
  .back-btn {
    background-color: rgba(0,0,0,.12);
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }