<header class="container-fluid">
  <app-cx-header-links-molecule [headerLinks]="headerLinks"></app-cx-header-links-molecule>
  <cx-header-nav-molecule [headerNavLinks]="headerNavLinks" [logoUrl]="logoUrl"></cx-header-nav-molecule>
</header>

