<section class="review-container">
    <h4>REVIEW</h4>
    <div class="order-details">
        <div class="ship-to">
            <div class="mobile-display">
                <h5>Ship To</h5>
                <address>
                    <p>Customer name</p>
                    <p>24/17 eucalyptus Dr</p>
                    <p>maidstone, LI</p>
                    <p>0470251604</p>
                </address>
            </div>
              <a href="/">Edit Shipping address</a>
        </div>
        <div class="shp-mtd">
            <div class="mobile-display">
                <h5>Shipping Method</h5>
                <div>
                    <p>Standard Delivery</p>
                    <p>3-5 business days</p>
                </div>
            </div>
            <a href="/">Edit Shipping method</a>
        </div>
        <div class="payment">
            <div class="mobile-display">
                <h5>Payment</h5>
                <div>
                    <p>mohamed vm</p>
                    <p>************1111</p>
                    <p>Expires: 6/2024</p>
                </div>
            </div>
            <a href="/">Edit Payment</a>
        </div>
    </div>
    <app-cart-summary></app-cart-summary>
    <p><span>Need Help with your checkout process? </span>Contact Us or Call phone number.</p>
</section>
