<section class="upload-container">
    <div>
        <input
        #excelInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="fileInputChange($event)"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
        <button mat-flat-button color="primary" (click)="excelInput.click()">Choose File (Excel)</button> 
    </div>
    <div>
        <mat-form-field class="email-field" appearance="standard">
            <input matInput placeholder=""  [value]="fileSelected"  required autocomplete="off" disabled/>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="onFileUpload($event)">Upload</button>
    </div>
    <a (click)="downloadFile($event)">Download Form</a>
</section>