.upload-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        height: 35px;
        margin: 0 10px;
        background-color: #2E7FBE !important;
        border-color: #2E7FBE !important;
    }
    a {
        color: red;
        cursor: pointer;
    }
}