.item-summary {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    h6 {
        margin-bottom: 20px;
        font-weight: bold;
    }
    .promotion {
        color: #5dac06;
        margin-bottom: 20px;
    }
    .item-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .item-header {
            width: 100%;
            display: flex;
            border-bottom: 1px solid grey;
            padding-bottom: 20px;
            color: rgb(116, 120, 129);
            font-weight: bold;
            .total {
                text-align: right;
            }
        }
        .item-list {
            width: 100%;
            display: flex;
            border-bottom: 1px solid grey;
            padding: 20px 0;
            position: relative;
        }
        .desc {
            display: flex;
            width: 50%;
            font-weight: bold;
            img {
                max-width: 75px;
                max-height: 75px;
            }
        }
        .item-name {
            padding: 0 20px;
            a{
                color: black;
            }
        }      
        .price {
            width: 15%;
        }
        .qtn {
            width: 25%;
            text-align: center;
            div {
                display: flex;
                width: 100%;
                height: 46px;
                justify-content: center;
                button {
                    padding: 0;
                    min-width: 40px;
                    border: 1px solid grey;
                    border-radius: 0;
                    box-shadow: none;
                }
                    input {
                        padding: 10px;
                        text-align: center;
                        min-width: 48px;
                        border-top: 1px solid grey;
                        max-width: 78px;
                        border-left: none;
                        border-right: none;
                        box-shadow: none;
                        border-bottom: 1px solid grey;
                }
            }
        }
        .total {
            width: 13%;
            text-align: right;
        }
        .remove {
            position: absolute;
            right: 0;
            bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
.summary-container-mobile {
    display: none;
}
@media only screen and (max-width: 768px) {
    .summary-container-mobile {
        h6 {
            margin: 20px 0;
            font-weight: bold;
        }
        .promotion {
            color: #5dac06;
            margin: 20px 0;
        }
        display: block;
        h5 {
            padding: 30px 0;
            border-bottom: 1px solid grey;
            border-top: 1px solid grey;
        }
        .item-details {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid grey;
            .item-image {
                padding-right: 20px;
            }
            img {
                max-width: 50px;
                max-height: 50px;
            }
            .item-desc {
                width: 70%;
                display: flex;
    flex-direction: column;
    .name {
        font-weight: bold;
    }
    .id {
        color: #747881;
    }
    .item-total {
        display: flex;
        .key {
            display: flex;
            font-weight: bold;
            width: 30%;
        }
        .value {
            color: #747881;
            div {
                display: flex;
                width: 100%;
                height: 46px;
                justify-content: center;
                button {
                    padding: 0;
                    min-width: 40px;
                    border: 1px solid grey;
                    border-radius: 0;
                    box-shadow: none;
                }
                    input {
                        padding: 10px;
                        text-align: center;
                        min-width: 48px;
                        border-top: 1px solid grey;
                        max-width: 78px;
                        border-left: none;
                        border-right: none;
                        box-shadow: none;
                        border-bottom: 1px solid grey;
                }
            }
        }
    }
            }
        }
    }
    .remove {
        padding: 20px 0;
        font-weight: bold;
        cursor: pointer;
    }
    .item-summary {
        display: none;
    }
}