@import "../../../../assets/css/constants.scss";
.logo-section{
    .title {
        font-size: 34px;
        font-family: 'Roboto-Medium';
        &::after{
            content: "";
            display: block;
            margin: 0 auto;
            width: 8%;
            padding-top: 15px;
            border-bottom: 4px solid #a7f108;
        }
      }
.client-logos {
    .img-grayscale {
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */
        cursor: pointer;
        width:150px;
        min-height: 40px;
        &:hover{
                opacity: 1;
                filter: grayscale(0);
        }
      }
}
}
