<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of checkoutBreadcrumb">
    <span (click)="onChangePage(breadcrumb.routePath)" [ngClass]="{ 'active':breadcrumb.isActive , 'isCurrentPage':breadcrumb.isCurrentPage }" routerLinkActive="router-link-active">
      {{ breadcrumb.pageName }}
    </span>
  </li>
</ol>
<section *ngIf="isMobileDevice" class="checkout-accordian">
  <div class="checkout-page" *ngFor="let breadcrumb of checkoutBreadcrumb" [ngClass]="{ 'active':breadcrumb.isCurrentPage }">
   <div class="checkout-header" > <h5>{{ breadcrumb.pageName }}</h5>
    <span *ngIf="breadcrumb.isActive" (click)="onChangePage(breadcrumb.routePath)" class="active-link">Edit</span></div>
    <div class="active-page" *ngIf="breadcrumb.isCurrentPage">
      <router-outlet></router-outlet>
      <button mat-raised-button class="back-btn" (click)="onChangePage(previousPage)" >Back</button>
      <button (click)="onChangePage(nextPage)" mat-raised-button class="continue-btn">Continue</button>
    </div>
  </div>
</section>