.breadcrumb {
  display: block;
    background: none;
    font-size: 0.8em;
    margin: 0;
    a,
    span {
      color: darkgrey;
      font-size: 17px;
      pointer-events: none;
      cursor: pointer;
      font-weight: bold;
    }
    .active {
        pointer-events: visible;
        color: black
    }
    .isCurrentPage {
        pointer-events: none;
        color: #fe5757
    }
    a:hover,
    span:hover {
      color: dimgrey;
      text-decoration: none;
    }
    li {
      list-style: none;
      float: left;
      margin: 5px;
    }
    li:last-child {
      margin-right: 20px;
    }
    li::after {
      content: ">";
      color: darkgrey;
    }
    li:last-child::after {
      content: "";
    }
  }

  .checkout-accordian {
    display: none;
    padding: 30px;
    .checkout-page {
      padding: 15px;
      border-bottom: 1px solid #d3d6db;
    }
    .active {
      background-color: #f4f4f4;
    }
  }
  .checkout-header {
    display: flex;
    justify-content: space-between;
    span {
      color: #fe5757;
    }
  }
  @media only screen and (max-width: 768px) {
    .breadcrumb {
      display: none;
    }
    .checkout-accordian {
      display: block;
    }
  }
  .continue-btn {
    background-color: var(--cx-color-primary) !important;
    border-color: var(--cx-color-primary) !important;
    color: white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }
 
  .back-btn {
    background-color: rgba(0,0,0,.12);
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }