<mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form  [formGroup]="personalInfo">
        <mat-form-field class="email-field" appearance="standard">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="" value="" formControlName="fullName"  required autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.fullName">
              <mat-error class="error-message" *ngIf="  
              personalInfo.get('fullName').hasError(validation.type) &&
                  (personalInfo.get('fullName').dirty ||
                  personalInfo.get('fullName').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Father Name</mat-label>
            <input matInput placeholder="" formControlName="Fathername" value=""  required autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.Fathername">
              <mat-error class="error-message" *ngIf="  
              personalInfo.get('Fathername').hasError(validation.type) &&
                  (personalInfo.get('Fathername').dirty ||
                  personalInfo.get('Fathername').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Gender</mat-label>
            <mat-select name="gender" formControlName="gender">
                <mat-option *ngFor="let gender of genders" [value]="gender" >
                  {{gender}}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let validation of validationMessages.gender">
                <mat-error class="error-message" *ngIf="  
                personalInfo.get('gender').hasError(validation.type) &&
                    (personalInfo.get('gender').dirty ||
                    personalInfo.get('gender').touched)">{{ validation.message }}</mat-error>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Iqama No</mat-label>
            <input matInput placeholder="" formControlName="IqamaNo" value=""  required autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.IqamaNo">
              <mat-error class="error-message" *ngIf="  
              personalInfo.get('IqamaNo').hasError(validation.type) &&
                  (personalInfo.get('IqamaNo').dirty ||
                  personalInfo.get('IqamaNo').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Nationality</mat-label>
            <mat-select name="country" formControlName="nationality">
                <mat-option *ngFor="let country of countries" [value]="country" >
                  {{country}}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let validation of validationMessages.nationality">
                <mat-error class="error-message" *ngIf="  
                personalInfo.get('nationality').hasError(validation.type) &&
                    (personalInfo.get('nationality').dirty ||
                    personalInfo.get('nationality').touched)">{{ validation.message }}</mat-error>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Date Of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="DOB">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngFor="let validation of validationMessages.DOB">
              <mat-error class="error-message" *ngIf="  
              personalInfo.get('DOB').hasError(validation.type) &&
                  (personalInfo.get('DOB').dirty ||
                  personalInfo.get('DOB').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Marital Status</mat-label>
            <mat-select name="status" formControlName="maritalStatus">
                <mat-option *ngFor="let status of maritalStatus" [value]="status" >
                  {{status}}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let validation of validationMessages.maritalStatus">
                <mat-error class="error-message" *ngIf="  
                personalInfo.get('maritalStatus').hasError(validation.type) &&
                    (personalInfo.get('maritalStatus').dirty ||
                    personalInfo.get('maritalStatus').touched)">{{ validation.message }}</mat-error>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Religion</mat-label>
            <input matInput placeholder="" formControlName="religion"  value=""  required autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.religion">
              <mat-error class="error-message" *ngIf="  
              personalInfo.get('religion').hasError(validation.type) &&
                  (personalInfo.get('religion').dirty ||
                  personalInfo.get('religion').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="contactInfo">
        <mat-form-field appearance="standard">
          <mat-label>Phone Number</mat-label>
          <input type="number" matInput formControlName="phoneNo" placeholder="" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.phoneNo">
            <mat-error class="error-message" *ngIf="  
            contactInfo.get('phoneNo').hasError(validation.type) &&
                (contactInfo.get('phoneNo').dirty ||
                contactInfo.get('phoneNo').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Email Address</mat-label>
          <input type="email" matInput formControlName="email" placeholder="" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.email">
            <mat-error class="error-message" *ngIf="  
            contactInfo.get('email').hasError(validation.type) &&
                (contactInfo.get('email').dirty ||
                contactInfo.get('email').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Employment Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="employmentInfo">
        <mat-form-field appearance="standard">
          <mat-label>Employee Number</mat-label>
          <input type="number" matInput formControlName="empNo" placeholder="" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.empNo">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('empNo').hasError(validation.type) &&
                (employmentInfo.get('empNo').dirty ||
                employmentInfo.get('empNo').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Joining Date</mat-label>
          <input matInput [matDatepicker]="jdpicker" formControlName="joiningDate">
          <mat-datepicker-toggle matSuffix [for]="jdpicker"></mat-datepicker-toggle>
          <mat-datepicker #jdpicker></mat-datepicker>
          <mat-error *ngFor="let validation of validationMessages.joiningDate">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('joiningDate').hasError(validation.type) &&
                (employmentInfo.get('joiningDate').dirty ||
                employmentInfo.get('joiningDate').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Job Tilte</mat-label>
          <input type="text" matInput placeholder="" value="" formControlName="jobTitle"  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.jobTitle">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('jobTitle').hasError(validation.type) &&
                (employmentInfo.get('jobTitle').dirty ||
                employmentInfo.get('jobTitle').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Grade</mat-label>
          <input type="text" matInput placeholder="" value="" formControlName="grade"  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.grade">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('grade').hasError(validation.type) &&
                (employmentInfo.get('grade').dirty ||
                employmentInfo.get('grade').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Department</mat-label>
          <input type="text" matInput placeholder="" value="" formControlName="department"  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.department">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('department').hasError(validation.type) &&
                (employmentInfo.get('department').dirty ||
                employmentInfo.get('department').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Division</mat-label>
          <input type="text" matInput placeholder="" formControlName="division" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.division">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('division').hasError(validation.type) &&
                (employmentInfo.get('division').dirty ||
                employmentInfo.get('division').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Supervisor Emp ID</mat-label>
          <input type="number" matInput placeholder="" value="" formControlName="supEmpId"  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.supEmpId">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('supEmpId').hasError(validation.type) &&
                (employmentInfo.get('supEmpId').dirty ||
                employmentInfo.get('supEmpId').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Location</mat-label>
          <input type="text" matInput placeholder="" formControlName="location" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.location">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('location').hasError(validation.type) &&
                (employmentInfo.get('location').dirty ||
                employmentInfo.get('location').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Profession on Iqama</mat-label>
          <input type="text" matInput placeholder="" formControlName="iqamaProfession" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.iqamaProfession">
            <mat-error class="error-message" *ngIf="  
            employmentInfo.get('iqamaProfession').hasError(validation.type) &&
                (employmentInfo.get('iqamaProfession').dirty ||
                employmentInfo.get('iqamaProfession').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contract Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="contractDetails">
        <mat-form-field appearance="standard">
          <mat-label>Bassic Salary</mat-label>
          <input type="number" matInput placeholder="" formControlName="basicSalary" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.basicSalary">
            <mat-error class="error-message" *ngIf="  
            contractDetails.get('basicSalary').hasError(validation.type) &&
                (contractDetails.get('basicSalary').dirty ||
                contractDetails.get('basicSalary').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Contract Status</mat-label>
          <input type="text" matInput placeholder="" formControlName="contractStatus" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.contractStatus">
            <mat-error class="error-message" *ngIf="  
            contractDetails.get('contractStatus').hasError(validation.type) &&
                (contractDetails.get('contractStatus').dirty ||
                contractDetails.get('contractStatus').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bank Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="bankDetails">
        <mat-form-field appearance="standard">
          <mat-label>Bank Name</mat-label>
          <input type="text" matInput placeholder="" formControlName="bankName" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.bankName">
            <mat-error class="error-message" *ngIf="  
            bankDetails.get('bankName').hasError(validation.type) &&
                (bankDetails.get('bankName').dirty ||
                bankDetails.get('bankName').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Bank Code</mat-label>
          <input type="text" matInput placeholder="" formControlName="bankCode" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.bankCode">
            <mat-error class="error-message" *ngIf="  
            bankDetails.get('bankCode').hasError(validation.type) &&
                (bankDetails.get('bankCode').dirty ||
                bankDetails.get('bankCode').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>IBAN #</mat-label>
          <input type="text" matInput placeholder="" formControlName="IBAN" value=""  required autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.IBAN">
            <mat-error class="error-message" *ngIf="  
            bankDetails.get('IBAN').hasError(validation.type) &&
                (bankDetails.get('IBAN').dirty ||
                bankDetails.get('IBAN').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button (click)="onSubmitForm()" [disabled]="!personalInfo.valid && !contactInfo.valid && !employmentInfo.valid && !contractDetails.valid && !bankDetails.valid"  class="submit-btn">
    Submit
  </button>