.cart-container {
    display: flex;
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    h4 {
        margin: 30px auto
    }
    .cart-left {
        flex: 0 0 65%;
    }
    .cart-right {
        flex: 0 0 25%;
    }
}

@media only screen and (max-width: 768px) {
    .cart-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .cart-left, ,.cart-right {
            width: auto;
        }
    }
}