<section class="news-letter-section">
  <form class="example-form">
    <!-- <mat-card-title class="title">SINGUP FOR NEWS LETTER </mat-card-title> -->
    <div class="row">
      <div class="sign-up-input-field col-12 mx-auto mt-50">
        <!-- <video id="my_video_1" class="video-js vjs-default-skin" width="1000" height="400" controls preload="none"
		      data-setup='{ "aspectRatio":"1000:400", "playbackRates": [1, 1.5, 2] }'>
          <source src="{{hostName + videoUrl.media.url}}" type='video/mp4' />
        </video> -->
        <div class="embed-responsive embed-responsive-21by9">
        <video playsinline="playsinline" controls>
          <source src="{{hostName + videoUrl.media.url}}" type="video/mp4">
        </video>
      </div>
      </div>
    </div>
  </form>
  </section>