<section class="verify-admin-layout">
    <section class="verify-admin-nav-container">
      <app-admin-nav-molecule [userType]="userType"></app-admin-nav-molecule>
    </section>
    <section class="admin-nav-mobile">
      <app-admin-nav-mobile-molecule [userType]="userType"></app-admin-nav-mobile-molecule>
    </section>
    <section class="verify-admin-body-container">
        <div class="verify-admin-header">
          <app-admin-header-molecule [userType]="userType"></app-admin-header-molecule>
        </div>
        <!-- Body Content start -->
        <router-outlet></router-outlet>
        <!-- Body Content end -->
      </section>
  </section>
