<section class="header-container">
    <section class="header-left">
        <span class="hr-image">
            <img class="img-fluid" [src]="hrImage" alt="logo">
        </span>
        <span class="cust-name">Finance</span>
        <span><i class="right"></i></span>
        <span class="admin-name">Master Data Setup</span>
    </section>
    <section class="header-right">
        <span class="hr-dp">
            <img class="img-fluid" [src]="dpImage" alt="logo">
        </span>
        <span class="account-settings">
            <i class="down"></i>
            <div class="account-logout">
                <span>Account</span>
                <span><a>Logout</a></span>
            </div>
        </span>
    </section>
</section>