<footer class="secondary-bg footer-container">
  <div class="container main-footer pt-50 pb-50">
    <aside class="row footer-sidebar footer-widget-area" role="complementary">
      <div class="footer-column footer-column-2 col-sm-12 col-md-6 col-lg-3 col-xl-3" *ngFor="let columns of footerColumnSlot">
        <div id="text-18" class="footer-widget  footer-widget-collapse widget_text">
          <h5 class="widget-title primary-color">{{columns.name}}</h5>
          <div class="textwidget">
            <ul class="menu list-unstyled no-margin" *ngFor="let linkData of columns.components.component">
              <li><a href="{{linkData.url}}">{{linkData.linkName}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="copyrights-wrapper text-center">
    <div class="container">
      <div class="min-footer">
        <div class="copyright-text text-center">{{copyRightSlot.content}} </div>
      </div>
    </div>
  </div>
</footer>