  @import "../../../../assets/css/constants.scss";
  
  .copyrights-wrapper {
    .min-footer {
      border-top: 1px solid rgba(255, 255, 255, 0.6);
    }
    .copyright-text {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.9em;
      padding: 30px 0;
    }
  }
  /********************Footer **************************/
  .footer-column {
    .footer-sidebar {
      padding: 50px 10px;
    }
    h5 {
      font-size: 1.1em;
      font-weight: bold;
    }
    ul {
      li {
        a {
          color: $white;
          display: block;
          padding: 5px 0;
          text-decoration: none;
        }
      }
    }
    .footer-column-5 {
      ul {
        li {
          a {
            display: block;
            padding: 10px 0;
          }
        }
      }
    }
  }
  .footer-widget-area {
      display: flex;
  }
  