.logo-container {
    padding: 25px 0;
}
.admin-nav {
    ul {
        margin: 0;
        padding: 0;
        li{
            height: 75px;
            width: 75px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            background-color: #064684;
            align-content: center;
            align-items: center;
            margin: 5px auto;
            a {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            img {
                height: 30px;
                width: 30px;
            }
            &:hover {
                background-color: #A8EF0B;
            }
        }
    }
}
.verify-admin-nav{
    li{
            margin: 10px 0;
            border-radius: 3px;
            color: #fff;
            text-transform: capitalize;
            font-size: 13px;
            padding: 10px 15px;
            display:flex;
            mat-icon{
                font-size: 24px;
                float: left;
                margin-right: 10px;
                width: 30px;
                text-align: center;
                color: #a9afbb;
            }
            p{
                margin: 0;
                font-size: 14px;
                position: relative;
                display: block;
                height: auto;
                white-space: nowrap;
            }
        
    }

}
