@import "../../../../assets/css/constants.scss";
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 0;
    background-color: var(--cx-color-background);
    h4 {
        font-size: 30px;
    }
    a {
        color: #d0d0d0;
        padding: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}
 .mat-expansion-panel-header-title {
    font-size: 18px;
    font-weight: bold;
}
.video-section{
    background: url('../../../../assets/images/slideimage.jpg');
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 2% 10%;
    video{
        width: 400px;
    }
    #home1{
        float: left;
    }
    #home2{
        float: right;
    }
    @media (max-width:767px) {
        #home1, #home2{
            float: unset !important;
            video{
                width: 300px;
            }
        }
    }
}

.sections-wrapper{
    max-width: 100%;
    .customer-table-wrapper, .reg-form-wrapper, .auth-mat-wrapper, .master-data-wrapper{
        padding: 40px;
        margin: 40px auto;
    form{
        width: 300px;
        margin: 0 auto;
        .mat-form-field{
             width: 100%;
        }
      
        .btn-link{
            font-weight: 400;
            color: $primary-color;
            font-size: 1.125rem;
            color: #212738;
            text-decoration: underline !important;
            cursor: pointer;
            display: inline-block;
    
        }
    }
    .reg-btn{
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        color: $black !important;
        font-size: 14px;
        font-weight: 400;
        height: 35px;
        &:disabled{
            opacity: 0.5;
        }
        }
    .header-label {
        padding: 15px 0;
        img {
            width: 30px;
            height: 30px;
        }
        span {
            padding-left: 15px;
            font-size: 14px;
        }
    }
    }
}

.mat-sort-header-container {
    align-items: center;
  }
  table{
      width:100%;
      td {
        height: 70px;
        vertical-align: bottom;
      }
  }
  .auth-mat-wrapper{
      .levels-wrapper{
        padding: 20px;
      }
      strong{
          display: flex;
          align-items: center;
          width: 10%;
          cursor: pointer;
          i{
            margin-right: 20px;
          }
      }
      table{
        width: 70% !important;       
        margin: auto;
        td {
            padding-top:20px;
            padding-bottom:20px;
            padding-right:20px;   
            height: auto !important;
            vertical-align: top !important;
          }
          
          td:first-child {
            padding-right: 0;
            width: 40px;
          }
          .set-btn{
            background-color: $primary-color !important;
            border-color: $primary-color !important;
            color: $black !important;
            font-size: 14px;
            font-weight: 500;
            height: 35px;
            &:disabled{
                opacity: 0.5;
            }
          }
      }
      .mat-list{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
  }
  .master-data-wrapper{
      .xl-btn{    
        background-color: $primary-color;  
        border-color: $primary-color;    
        margin: 20px 50px;
        padding: 6px;
        width: 150px;  
        color: #000;
        font-size: 14px;
      }
  }
