<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
	<ol class=" breadcrumb container">
		<li class="breadcrumb-item">
			<a routerLink="/"><span>Home</span></a>
		</li>
		<li class="breadcrumb-item">
			<a>{{prodCode}}</a>
		</li>
	</ol>
</nav>

<div class="container clearfix">

	<article class="pdt-main-details container row mb-50">
		<div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 pdp-pdt-image">
			<div class="">
				<img src="{{hostName + imageUrl}}" alt="Puma">
			</div>

		</div>
		<div class=" col-sm-7 col-md-7 col-lg-7 col-xl-7 pdp-pdt-detail">
			<h1 class="pdp-display-name font-roboto-reg">{{productName}}</h1>
			<div class="pdp-price font-roboto-bold" *ngIf="!_array.isArray(price)">
				<span>{{price}} </span>
			</div>

			<div class="ul-d">
				<p class="d-con">{{description}}</p>
			</div>
			<div class="clear"></div>

			<div class="pdp-buttons clearfix">

				<mat-form-field appearance="standard" class="users-qty-feild" *ngIf="!isHrms">
					<mat-label>No of concurrent users</mat-label>
					<input matInput type="number" [disabled]="isHrms" value="{{isHrms && 1}}" [(ngModel)]="usersQty"
						(keyup)="handleChange($event);" required autocomplete="off">
				</mat-form-field>
				<div class="col-12 no-padding mb-30" *ngIf="isHrms">
					<button class="subscription-main-btn" mat-raised-button (click)="handleShowSubscription()">
						<span>Please Select Subscriptions</span>
					</button>
					<div class="pdp-subscription-price" *ngIf="_array.isArray(price) && showSubscription">
						<span class="subscription-text">Please select the price range</span>
						
						<mat-radio-group aria-label="Select an option" class="pdp-subscription">
							<mat-radio-button class="subscription-btn form-check-inline" *ngFor="let priceItem of price"
								checked="{{price[0].priceRangeName == priceItem.priceRangeName}}"
								value="{{priceItem.priceRangeName}}" (change)="rangeSelect($event);">
								<section>
									<div class="price-plan">
										<div class="price-subscription">
											<span class="main-price">SAR {{priceItem.value.toFixed(2)}}</span> 
											<span class="price-users">/ <span>{{priceItem.priceRange}} </span> users</span>
										</div>
									</div>

								</section>
								
							</mat-radio-button>
						
						</mat-radio-group>
					</div>
				</div>

				<div class="col-12 no-padding clearfix">
					<button class="atc-btn"
						[disabled]="(!shouldShowAddToCart || isFinance && (usersQty < 1 || !usersQty))"
						mat-raised-button (click)="checkCart()">
						<!-- <mat-icon class="matIcon">shopping_cart</mat-icon> -->
						<span>ADD TO CART</span>
					</button>
				</div>

				<p class="error-message" *ngIf="maxQtyErr">{{ maxQtyErrMsg }}</p>
			</div>


		</div>

	</article>

</div>