@import "../../../../assets/css/constants.scss";

@media only screen and (max-width: 768px) {
  .payment-container {
    background-color: #f4f4f4;
    .common-field {
      width: 100%;
    }
    .month-field {
      width: 50%;
    }
    .year-field {
      width: 50%;
    }
  }
  .submit-btn {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
  }
}
.login-us-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto !important;
  }
.payment-container {
  box-shadow: none;
}
  .login-container {
      padding: 0;
      box-shadow: none;
  }
  .continue-btn {
    background-color: var(--cx-color-primary) !important;
    border-color: var(--cx-color-primary) !important;
    color: white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }
  .back-btn {
    background-color: rgba(0,0,0,.12);
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    width: 48%;
    margin: 0 1%;

  }
  .forgot-pwd {
      padding-bottom: 20px;
      a {
          color: black;
          text-decoration: underline !important;
          &:hover {
              color: var(--cx-color-primary) !important;
          }
      }
  }
  .register-link {
      margin-bottom: 10px;
  }

  .error-msg {
    display: flex;
    justify-content: center;
  }

  .common-field {
    width: 70%;
  }
  .month-field {
    width: 15%;
    padding: 5px;
  }
  .year-field {
width: 20%;
padding: 5px;
}
.cvv-field {
width: 35%;
padding: 5px;
}

.billing-address {
  padding: 20px 0;
  .default-set {
    padding: 20px 0 30px;
      display: block;
  }
  p {
    margin: 3px;
  }
}

.default-payment-container {
  border: 1px solid grey;
    width: 300px;
    .def-payment-header {
      padding: 3px 10px;
    background-color: grey;
    color: white;
    }
    .def-payment-body {
      padding: 15px;
      p {
        margin: 0;
    padding: 15px 0
      }
      .payment-details {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    .payment-left {
      display: flex;
    flex-direction: column;
    }
      }
    }
    .payment-footer {
      display: flex;
    justify-content: flex-end;
    }
}
.submit-btn {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: $white !important;
  font-size: 20px;
  font-weight: 400;
  height: 48px;
  max-height: 48px;
  width: 100%;
  max-width: 350px;
  margin-top: 20px !important;
}
.terms-and-condition {
  display: flex;
  .default-set {
    margin-right: 10px;
    margin-top: 5px;
  }
  a {
    color: red;
  }
}