<div class="hrms-wrapper">
    <section class="title">
        <a routerLink="/superAdmin"> < Super Admin</a>
        <h4>HRMS</h4>
    </section>
    
    <div class="row video-section">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-21by9">
                <video *ngFor="let data of hrPortalData" class="col-lg-12" playsinline="playsinline" controls>
                    <source src="{{hostName + data.media.url}}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-12 reg-form-wrapper">
            <mat-accordion>
                <mat-expansion-panel [expanded]="!disableCreateUserForm" [disabled]="disableCreateUserForm">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Create an user
                        </mat-panel-title>
                        <mat-panel-description>
                            <span *ngIf='!disableCreateUserForm'>Click to view details</span>
                            <span *ngIf='disableCreateUserForm'>Reached maximum limit</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <form [formGroup]="createUserForm" (ngSubmit)="createAdmin(createUserForm.value)" autocomplete="off">
        
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="emailId" required>
                                <mat-error *ngFor="let validation of validationMessages.email">
                                    <mat-error class="error-message" *ngIf="
                                createUserForm.get('emailId').hasError(validation.type) &&
                                    (createUserForm.get('emailId').dirty ||
                                    createUserForm.get('emailId').touched)
                                  ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="name" required>
                                <mat-error *ngFor="let validation of validationMessages.name">
                                    <mat-error class="error-message" *ngIf="
                                createUserForm.get('name').hasError(validation.type) &&
                                    (createUserForm.get('name').dirty ||
                                    createUserForm.get('name').touched)
                                  ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Employee ID</mat-label>
                                <input matInput type="number" placeholder="Employee ID" formControlName="employeeId" required>
                                <mat-error *ngFor="let validation of validationMessages.employeeId">
                                    <mat-error class="error-message" *ngIf="
                                createUserForm.get('employeeId').hasError(validation.type) &&
                                    (createUserForm.get('employeeId').dirty ||
                                    createUserForm.get('employeeId').touched)
                                  ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Iqama ID</mat-label>
                                <input matInput type="number" placeholder="Iqama ID" formControlName="iqamaId" required>
                                <mat-error *ngFor="let validation of validationMessages.iqamaId">
                                    <mat-error class="error-message" *ngIf="
                                createUserForm.get('iqamaId').hasError(validation.type) &&
                                    (createUserForm.get('iqamaId').dirty ||
                                    createUserForm.get('iqamaId').touched)
                                  ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Customer Role</mat-label>
                                <mat-select disableRipple formControlName="customerRole" required>
                                    <mat-option value="HRAdmin">HRAdmin</mat-option>
                                    <mat-option value="Admin">Admin</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p>
                            <button mat-raised-button [disabled]="!createUserForm.valid" class="reg-btn">Create
                                User</button>
                        </p>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
    
        </div>
        <div class="col-lg-6 col-md-12 customer-table-wrapper">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="disable_ripple">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Customer Details
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to view details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table matSort>
                        <tr>
                            <th mat-sort-header="name">User Id</th>
                            <th mat-sort-header="calories">Status</th>
                            <th mat-sort-header="fat">Action</th>
                        </tr>
        
                        <tr *ngFor="let user of subCustomersData">
                            <td>{{user.emailId}}</td>
                            <td *ngIf="user.active">Active</td>
                            <td *ngIf="!user.active">Inactive</td>
                            <td *ngIf="user.active"> NIL</td>
                            <td *ngIf="!user.active">
                                <button mat-raised-button color="primary" class="reg-btn" (click)="retrigger(user.emailId)"> Retrigger email</button>
                            </td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
   
</div>