@import "../../../../assets/css/constants.scss";
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 0;
    background-color: var(--cx-color-background);
    h4 {
        font-size: 30px;
    }
    a {
        color: #d0d0d0;
        padding: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}
 .mat-expansion-panel-header-title {
    font-size: 18px;
    font-weight: bold;
}
.video-section{
    background: url('../../../../assets/images/slideimage.jpg');
    width: 100%;
    padding: 5% 10%;
    text-align: center;
}
.customer-table-wrapper, .reg-form-wrapper{
    padding: 40px;
    margin: 40px auto;
form{
    width: 300px;
    margin: 0 auto;
    .mat-form-field{
        width: 100%;
    }

    .btn-link{
        font-weight: 400;
        color: $primary-color;
        font-size: 1.125rem;
        color: #212738;
        text-decoration: underline !important;
        cursor: pointer;
        display: inline-block;

    }
}
.reg-btn{
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: $black !important;
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    &:disabled{
        opacity: 0.5;
    }
}
}

.mat-sort-header-container {
    align-items: center;
  }
  table{
      width:100%;
      td {
        height: 70px;
        vertical-align: bottom;
      }
  }
