<section class="filter-container">
    <div class="filter-left">
        <div class="report-filter">
            <label>Show:</label>
            <mat-form-field>
                <mat-select matNativeControl [(value)]="showValue">
                  <mat-option *ngFor="let report of reportsFilter" [value]="report">
                    {{report}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="filter-right">
        <div class="viewby-filter">
            <label>View By:</label>
            <mat-form-field>
                <mat-select matNativeControl [(value)]="viewByValue">
                    <mat-option *ngFor="let report of reportsFilter" [value]="report">
                    {{report}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="groupby-filter">
            <label>Group By:</label>
            <mat-form-field>
                <mat-select matNativeControl [(value)]="groupByValue">
                    <mat-option *ngFor="let report of reportsFilter" [value]="report">
                    {{report}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="date-range">
            <label>Select Date Range:</label>
            <mat-form-field>
                <mat-label>From date</mat-label>
                <input matInput [matDatepicker]="lowestpicker">
                <mat-datepicker-toggle matSuffix [for]="lowestpicker"></mat-datepicker-toggle>
                <mat-datepicker #lowestpicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>To date</mat-label>
                <input matInput [matDatepicker]="higherpicker">
                <mat-datepicker-toggle matSuffix [for]="higherpicker"></mat-datepicker-toggle>
                <mat-datepicker #higherpicker></mat-datepicker>
              </mat-form-field>
        </div>
</div>
</section>
