 <!-- Header Section Start -->
 <app-header-organism></app-header-organism>
  <!-- Header Section End -->

  <!-- Body Content start -->
<router-outlet></router-outlet>
 <!-- Body Content end -->

 <!-- Footer Section Start -->
 <app-footer-organism></app-footer-organism>
 <!-- Footer Section End -->