@import "../../../../assets/css/constants.scss";
.contact-us-form {
  width: 100%;
  padding: 5% 10%;
  text-align: center;
  .title {
    font-size: 34px;
    font-family: 'Roboto-Medium';  
    margin: 0 auto;
    &::after{
      content: "";
      display: block;
      margin: 0 auto;
      width: 8%;
      padding-top: 15px;
      border-bottom: 4px solid $primary-color;
    }
  }
  .name-field,
  .email-field {
    width: 45%;
  }
  .comment-field {
    width: 100%;
  }
  .error-message {
    font-size: 12px;
  }
  .submit-btn {
    background-color: $primary-color;
    border-radius: 24px;
    width: 150px;
    font-size: 17px;
    padding: 8px;
    font-weight: bold;
    box-shadow: none;
  }
}
::ng-deep .mat-form-field{
  padding: 10px 0;
}


@media only screen and (max-width: 768px) {
  .contact-us-form {
    .name-field,
    .email-field {
      width: 100%;
    }
  }
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}