<section class="verfiy-admin-wr container clearfix">
    <div class="row">

        <div class="col-10 clearfix">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let data of subEmployees" class="disable_ripple">
                    <mat-expansion-panel-header (click)="getSubEmpDetails(data.emailId)">
                        <mat-panel-title>
                            <p>{{data.emailId}}</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <p>customer</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="customerForm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Address" [value]="customerForm.value.address" formControlName="address" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Bp Code</mat-label>
                                    <input matInput placeholder="bpCode" [value]="customerForm.value.bpCode" formControlName="bpCode" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Currency</mat-label>
                                    <input matInput placeholder="currency" [value]="customerForm.value.currency" formControlName="currency" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Financial group</mat-label>
                                    <input matInput placeholder="financialGroup" [value]="customerForm.value.financialGroup" formControlName="financialGroup" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="name" [value]="customerForm.value.name" formControlName="name" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Vat Number</mat-label>
                                    <input type="number" matInput placeholder="Vat Number" [value]="customerForm.value.vatNumber" formControlName="vatNumber" required>
                                </mat-form-field>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <p>Supplier</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="supplierForm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Address" [value]="supplierForm.value.address" formControlName="address" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Bp Code</mat-label>
                                    <input matInput placeholder="bpCode" [value]="supplierForm.value.bpCode" formControlName="bpCode" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Currency</mat-label>
                                    <input matInput placeholder="currency" [value]="supplierForm.value.currency" formControlName="currency" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Financial group</mat-label>
                                    <input matInput placeholder="financialGroup" [value]="supplierForm.value.financialGroup" formControlName="financialGroup" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="name" [value]="supplierForm.value.name" formControlName="name" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Vat Number</mat-label>
                                    <input matInput placeholder="vatNumber" [value]="supplierForm.value.vatNumber" formControlName="vatNumber" required>
                                </mat-form-field>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <p>Item</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="itemForm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Currency</mat-label>
                                    <input matInput placeholder="currency" [value]="itemForm.value.currency" formControlName="currency" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="description" [value]="itemForm.value.description" formControlName="description" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Inventory Unit</mat-label>
                                    <input matInput placeholder="inventoryUnit" [value]="itemForm.value.inventoryUnit" formControlName="inventoryUnit" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Item Code</mat-label>
                                    <input matInput placeholder="itemCode" [value]="itemForm.value.itemCode" formControlName="itemCode" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Item Group</mat-label>
                                    <input matInput placeholder="itemGroup" [value]="itemForm.value.itemGroup" formControlName="itemGroup" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Item Type</mat-label>
                                    <input matInput placeholder="itemType" [value]="itemForm.value.itemType" formControlName="itemType" required>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Unit Set</mat-label>
                                    <input matInput placeholder="unitSet" [value]="itemForm.value.unitSet" formControlName="unitSet" required>
                                </mat-form-field>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <button mat-raised-button (click)="onSubmitForm()" [disabled]="!customerForm.valid && !supplierForm.valid && !itemForm.valid"  class="submit-btn">
            Submit
        </button>
    </div>

</section>