@import "../../../../assets/css/constants.scss";
:host {
    width: 100%;
    padding: 0 20px;
}
.mat-form-field {
    width: 100%;
}

.submit-btn {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: $white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    margin: 20px auto;
    display: flex;
    width: 300px;
    justify-content: center;
}