.coupon-container {
    padding: 30px 0;
    div {
        display: flex;
    }
    .secondary-btn {
        background-color: rgba(0,0,0,.12);
        font-size: 20px;
        font-weight: 400;
        height: 48px;
        max-height: 48px;
    }
    input {
        max-width: 150px;
        height: 48px;
        border-radius: 0px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .coupon-container div {
        display: flex;
        justify-content: space-between;
    }
}