<section class="coupon-container">
    <h4>Have a Coupon?</h4>
    <div>
        <input type="number" matInput placeholder="" value=""  autocomplete="off" />
        <button mat-raised-button class="secondary-btn" disabled>
            Apply
          </button>
    </div>
</section>