<div class="cart-wrapper">
    <a aria-label="0 items currently in your cart" href="">
        <span class="cart-icon">
            <i class="fa fa-shopping-cart"></i>
        </span>
        <span class="cart-total"></span><span class="cart-count">0</span>
    </a>
</div>