@import "../../../../assets/css/constants.scss";
mat-grid-tile {
    background:  #1589FF;
    width: 100%;
    cursor: pointer;

  }
  .active{
    &:hover{
        background: #1F45FC;
        -sand-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transition: .6s;
        -o-transition: .6s;
        -webkit-transition: .6s;
        transition: .6s;
    }
  }
  .wrapper{
    width: auto;
    padding: 7%;
    margin: 0 auto;
    img{
        width:40%
    }
    span{
        position: absolute;
        top: 80%;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }
    .disabled{
        opacity: 0.7;
        cursor: unset !important;
        &:hover{
            background: #1589FF !important; 
        }
    }
  }
 