<div class="wrapper col-xs-12 col-sm-9 col-md-7 col-lg-5" *ngIf ="!hideProductLinks">
    <mat-grid-list class="col-12" cols="2" rowHeight="2:2" gutterSize='20px'>
        <mat-grid-tile class="col-sm-12" [routerLink]="['finance']" [ngClass]="!isFinance ? 'active' : 'active'">
            <img src="../../../../assets/images/finance.png"/>
             <span>Finance</span>
        </mat-grid-tile>
        <mat-grid-tile  class="col-sm-12" [routerLink]="['hrms']" [ngClass]="!isHRMS ? 'disabled' : 'active'">
            <img src="../../../../assets/images/hr.png"/>             
             <span>HR</span>
        </mat-grid-tile>
        <mat-grid-tile  class="col-sm-12"  [ngClass]="!isSupplyChain ? 'disabled' : 'active'">
            <img  src="../../../../assets/images/hr.png"/>
            <span>Supply chain</span>
        </mat-grid-tile>
        <mat-grid-tile  class="col-sm-12"  [ngClass]="!isManufacturing ? 'disabled' : 'active'">
            <img src="../../../../assets/images/finance.png"/>
            <span>Manufacturing</span>
        </mat-grid-tile>
      </mat-grid-list>
</div>
<router-outlet></router-outlet>