<mat-card class="login-container">
  <app-page-header-molecule>Login</app-page-header-molecule>
  <mat-error class="error-msg" *ngIf="loginError">Login Failed. Please try again</mat-error>
  <form class="login-us-form" [formGroup]="loginForm" (ngSubmit)="onSubmitLoginDetails(loginForm.value, buttonType)">
    <mat-form-field class="email-field" appearance="standard"  *ngIf="buttonType == undefined">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" [value]="userName" formControlName="email" required autocomplete="off" />
      <ng-template *ngIf="buttonType == undefined" >
        <mat-error *ngFor="let validation of validationMessages.email" >
          <mat-error class="error-message" *ngIf="
          ((loginForm.get('email').hasError(validation.type) &&
              (loginForm.get('email').dirty ||
              loginForm.get('email').touched)))">{{ validation.message }}</mat-error>
        </mat-error>
      </ng-template> 
    </mat-form-field> 
    <mat-form-field *ngIf="buttonType == 'password'" class="email-field" appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" [value]="userName" disabled />
      
    </mat-form-field>     
    <mat-form-field *ngIf="buttonType == 'password'" class="password-field " appearance="standard">      
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="" value="" formControlName="password" required autocomplete="off" />
      <mat-error *ngFor="let validation of validationMessages.password">
        <mat-error class="error-message" *ngIf="
        loginForm.get('password').hasError(validation.type) &&
            (loginForm.get('password').dirty ||
            loginForm.get('password').touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="buttonType == 'otp'" class="password-field " appearance="standard">      
      <mat-label>OTP</mat-label>
      <input type="password" matInput placeholder="" value="" formControlName="otp" required autocomplete="off" />
      <mat-error *ngFor="let validation of validationMessages.otp">
        <mat-error class="error-message" *ngIf="
        userLoginForm.get('otp').hasError(validation.type) &&
            (userLoginForm.get('otp').dirty ||
            userLoginForm.get('otp').touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>

    <div class="forgot-pwd" *ngIf="buttonType == 'password'"><a href="/">Forgot Password?</a></div>
    <button mat-raised-button *ngIf="buttonType == undefined" [disabled]="!loginForm.valid" class="submit-btn">
      Next
    </button>
    <button mat-raised-button *ngIf="buttonType == 'otp'" [disabled]="!loginForm.valid" class="submit-btn">
      Verify OTP
    </button>
    <button mat-raised-button *ngIf="buttonType == 'password'" [disabled]="!loginForm.valid" class="submit-btn">
      Sign In
    </button>
    <div class="register-link"><p>Don't have an account</p></div>
    <button mat-raised-button class="register-btn" routerLink = '/register'>
      Register
    </button>
  </form>
  </mat-card>
  