@import "../../../../assets/css/constants.scss";
.title {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0;
    background-color: var(--cx-color-background);
}

// mat-form-field {
//     float: none !important;
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }
// .login-us-form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
// }
// .mat-form-field-wrapper {
//     width: 100%;
// }
// input {
//     width: 100%
// }
// .email-field, .password-field {
//     width: 100%;
// }

.login-us-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto !important;
    box-shadow: 0 3px 36px rgba(0, 0, 0, .09);
    padding: 40px;
    margin: 40px auto;
  }
  .email-field, .password-field {
    width: 100%;
  }
  .login-container {
      padding: 0;
      box-shadow: none;
  }
  .submit-btn {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: $white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;

  }
  .register-btn {
    background-color: rgba(0,0,0,.12);
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;

  }
  .forgot-pwd {
      padding-bottom: 20px;
      a {
          color: $black;
          text-decoration: underline !important;
          &:hover {
              color: var(--cx-color-primary) !important;
          }
      }
  }
  .register-link {
      margin-bottom: 10px;
  }

  .error-msg {
    display: flex;
    justify-content: center;
  }